**/__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.venv
*.npy
DSCNetEnv/
DSCNet_2D_opensource/Log
DSCNet_2D_opensource/PNG
DSCNet_2D_opensource/Results
DSCNet_2D_opensource/Txt
DSCNet_2D_opensource/Weights
DSCNet_3D_opensource/Log
DSCNet_3D_opensource/PNG
DSCNet_3D_opensource/Results
DSCNet_3D_opensource/Txt
DSCNet_3D_opensource/Weights
Data/
logs/