**/__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.venv
*.npy
DSCNetEnv/
DSCNet_2D_Opensource/Log
DSCNet_2D_Opensource/PNG
DSCNet_2D_Opensource/Results
DSCNet_2D_Opensource/Txt
DSCNet_2D_Opensource/Weights
DSCNet_3D_Opensource/Log
DSCNet_3D_Opensource/PNG
DSCNet_3D_Opensource/Results
DSCNet_3D_Opensource/Txt
DSCNet_3D_Opensource/Weights
Data/